@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none;
  }

  *::before {
    box-sizing: border-box;
  }

  html,
  body,
  #__next {
    overflow: hidden;
    /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
  }

  canvas {
    touch-action: none;
  }

  .no-pointer-events {
    pointer-events: none;
  }

  .no-scroll-bar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .no-scroll-bar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }

  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    position: relative;
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #__next {
    height: 100vh;
    width: 100vw;
    /* position: fixed; */
    top: 0;
  }
}
